@model IEnumerable<Mom3._2.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1 class="italic">Utlånade skivor</h1>

<p>
    <a asp-action="Create" class="link-color">Låna en skiva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FriendName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriendName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.AlbumTitle)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.LoanId" class="link-color">Lämna tillbaka</a>
            </td>
        </tr>
}
    </tbody>
</table>
